%clean-button-or-input {
  appearance: none;
  box-shadow: none;
  background: none;
  border: 0;
  text-decoration: none;
  outline: none;
}

%centery {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
