@import'../../styles/settings.postcss';

.c-header {
  background: $color-5;
}
.c-logo {
  > h1 {
    display: inline-block;
  }

  > .beta {
    color: $font-color-3;
    text-transform: uppercase;
    display: inline-block;
    background: $color-1;
  }
}

.c-navigation {
  > ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  ul > li {
    list-style: none;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-4;
  }
}
