@import './../../styles/settings.postcss';

.c-dashboard {
  padding: rem(30);

  .country-title {
    margin: 0;
    font-family: $font-family-1;
    font-size: rem(40);
    letter-spacing: rem(-1);
    color: $font-color-1;
    text-transform: uppercase;
  }
}
